.eCards {
	.Divider {
		background-color: transparent;
		margin: 25px 5px;
	}
	
	h3.ObjTitle {
		.roach-page-header
	}
	
	.nyza.body {
		border: 1px solid #ccc;
	}
	
	p {
		margin: 25px 5px;
		max-width: none;
	}
}

#InputForm {
	.appArea {
		width: 100%;
	}
	
	.Button {
		.roach-button
	}
	
	#cons_email {
		margin: 10px 0 0;
	}
	
	#cons_email_opt_in,
	label[for="cons_email_opt_in"],
	#s_rememberMe,
	input[type="reset"],
	tr:nth-of-type(6),
	tr:nth-of-type(7),
	tr:nth-of-type(7),
	tr:nth-of-type(9),
	p.Hint {
		display: none;
	}
	
	#cons_first_name,
	#cons_last_name {
		width: calc(~'100% - 40px');
		
		@media all and (max-width:@break-tablet) {
			width: calc(~'100% - 40px') !important;
		}
	}
	
	#ecard_captcha_container {
		margin: 0 0 25px;
		
		@media all and (max-width:@break-tablet) {
			margin: 0;
		}
		
		a.Smaller {
			color: @dark-red;
		}
		
		#ecard_captcha {
			width: 80%;
			
			@media all and (max-width:@break-tablet) {
				display: inline-block !important;
				width: 64% !important;
			}
		}
		
		td {
			width: 50% !important;
		}
	}
	
	input[type="text"], 
	textarea, 
	select {
	    .roach-input;
		max-width: 577px;
		width: 100%;

	}
	
	h3.ObjTitle {
		.roach-page-header
	}
	
	p {
		@media all and (max-width:@break-tablet) {
			margin: 10px 0 0;
		}
	}
	
	.roach-ecard-selection {
		margin: 0 0 25px;
		
		&__label {
			display: inline-block;
			vertical-align: top;
			width: 22.5%;
			
			@media all and (max-width:@break-tablet) {
				width: 100%;
			}
		}
		
		&__preview {
			display: inline-block;
			max-width: 609px;
			vertical-align: top;
			width: 76.5%;
			
			@media all and (max-width:@break-tablet) {
				max-width: none;
				width: 98%;
			}
			
			img {
				height: auto;
				width: 100%;
			}
		}
		
		&__thumbs {
			margin: 0 0 0 23%;
			
			@media all and (max-width:@break-tablet) {
				margin: 0;
			}
			
			&__image {
				border: 2px solid #fff;
				cursor: pointer;
				display: inline-block;
				height: auto;
				line-height: 0;
				margin: 10px 10px 0 0;
				position: relative;
				transition: @default-transition;
				width: 175px;

				@media all and (max-width:@break-tablet) {
					width: calc(~'31% - 10px');
				}
				
				&::before {
					background: url('../images/icon-check.png') top left no-repeat;
				    background-size: cover;
				    content: "";
				    height: 0px;
				    left: 50%;
				    top: 50%;
				    opacity: 0;
				    position: absolute;
				    transition: @default-transition;
				    width: 0px;
				}
				
				&--selected {
					border: 2px solid @dark-red;
					
					&::before {
						height: 60px;
						left: calc(~'50% - 30px');
						opacity: 1;
						top: calc(~'50% - 30px');
						width: 60px;
						
						@media all and (max-width:@break-tablet) {
							height: 40px;
							left: calc(~'50% - 20px');
							top: calc(~'50% - 20px');
							width: 40px;
						}
					}
				}
				
				img {
					height: auto;
					width: 100%;
				}
			}
		}
	}
	
	.Smaller {
		font-family: @font-lato;
		font-size: .75rem;
		margin: 0;
	}
	
	span.Hint {
	    display: block;
	    font-size: .75rem;
	    font-style: normal;
		line-height: 1.15rem;
	    margin: -5px 0 25px;
	    width: 75%;
	    
	    @media all and (max-width:@break-tablet) {
			width: 100%;
		}
	} 
	
	table table {
	    max-width: 617px;
		width: calc(~'100% + 27px');
	}
	
	#taf_send {
		cursor: pointer;
		
		@media all and (max-width:@break-tablet) {
			bottom: 0;
			left: 15px;
			position: absolute;
			width: 43%;
		}
	}
	
	#taf_popup_preview {
		cursor: pointer;
		
		@media all and (max-width:@break-tablet) {
			bottom: 0;
			right: 15px;
			position: absolute;
			width: 43%;
		}
	}
	
	td {
		vertical-align: top;
	}
	
	td:nth-of-type(2),
	td:nth-of-type(3) {	
		@media all and (max-width:@break-tablet) {
			display: block !important;
		}
	}
	
	td:nth-of-type(3) {
		@media all and (max-width:@break-tablet) {
			width: 94%;
		}
	}
}