.roach-header {
	background-color: #66102b;
	height: 100px;
	position: relative;
	transition: @default-transition;
	width: 100%;
	
	@media all and (max-width:@break-tablet) { 
		height: 75px;
	}	
	
	@media all and (max-width:@break-mobile) { 
		height: 58px;
	}
	
	&::after {
		background-image: url('@{image-path}roach.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		content: "";
		height: 196px;
		position: absolute;
		right: 14%;
		top: -13px;
		transition: @default-transition;
		width: 186px;
		
		@media all and (max-width:@break-tablet) { 
			height: 179px;
			right: 3%;
			top: -26px;
			width: 167px;
		}	
		
		@media all and (max-width:@break-mobile) { 
			height: 156px;
			right: -3%;
			width: 148px;
		}
	}
	
	&::before {
		background-color: #861538;
		content: "";
		display: block;
		height: 10px;
		width: 100%;
	}	
}

.roach-header--logo {
	padding: 29px 0 0;
    transition: @default-transition;
	width: 250px;
	
	@media all and (max-width:@break-tablet) { 
		padding: 23px 0 0;
		width: 175px;
	}
	
	@media all and (max-width:@break-mobile) { 
		padding: 18px 0 0;
		width: 135px;
	}
	
	&--image {
		height: auto;
		width: 100%;
		transition: @default-transition;
		vertical-align: top;
	}
}