.roach-page-header {
	color: @dark-red;
	font-family: @font-vibes;
	font-size: 4.5rem;
	line-height: 5.5rem;
	margin: 0 0 25px;
	transition: @default-transition;
	text-align: center;
	
	@media all and (max-width:@break-tablet) { 
		font-size: 3rem;
		line-height: 4rem;
	}
	
	@media all and (max-width:@break-tablet) { 
		font-size: 2.5rem;
		line-height: 3.5rem;
	}
}

.roach-small-text,
.auto-opt-in-warning-message span {
	color: #8E8E8E;
	display: block;
	font-size: .75rem;
	line-height: 1rem;
	margin: 5px 0 0;
}

.roach-section-header,
#payment_cc_container h3 {
	color: @dark-red;
	font-family: @font-vibes;
	font-size: 2.5rem;
	line-height: 3rem;
	margin: 25px 0 10px;
	transition: @default-transition;
	text-align: left;
	
	@media all and (max-width:@break-mobile) { 
		font-size: 2rem;
		line-height: 2.5rem;
	}
}

p {
	color: @black;
	font-family: @font-lato;
	font-size: 1rem;
	line-height: 1.5rem;
	margin: 0 auto 25px;
	max-width: 850px;
	
}